<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-sdk tools:overrideLibrary="com.facebook, android.support.customtabs" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:node="remove" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.persistent" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_CALL_LOG"
        tools:node="remove" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name=".activity.RegrannApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:name,android:networkSecurityConfig">
        <activity
            android:name=".activity.OverlaypermissionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"

            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jaredco.regrann.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.RegrannMainActivity"
            android:exported="true"
            android:label="@string/in_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewShareText"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service
            android:name=".activity.FetchDownloadUrlService"
            android:exported="true" />

        <activity
            android:name=".activity.ShareActivity"
            android:exported="true"
            android:label="Repost"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent.Fullscreen" />
        <activity
            android:name=".activity.OnBoardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CheckPermissions2"
            android:label="Repost - Permissions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CallSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RequestPaymentActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginRequestActivity"
            android:label="Repost - Connect to Instagram"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InstagramLogin"
            android:label="Repost - Login to Instagram"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.KeptForLaterActivity"
            android:label="Saved Posts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingsActivity2"
            android:label="Repost Settings"
            android:theme="@style/Pref" />
        <activity
            android:name=".activity.ModeSettingsActivity"
            android:label="Mode Settings" />
        <activity
            android:name=".activity.QuickSaveActivity"
            android:label="Quick Save"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.KeepForLaterActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activity.PostFromKeptActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <receiver
            android:name=".receiver.FirebaseEventBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="custom_firebase_event" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.calldorado.wsf"
            android:value="true" />

        <receiver
            android:name=".receiver.ServiceStarter"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.NoCropActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <!--
        <service
            android:name=".service.ClipboardListenerService"
            android:exported="true"
            android:label="Regrann Service">
            <intent-filter>
                <action
                    android:name="com.jaredco.regrann.service.ClipboardListenerService"
                    android:process=":remote" />
            </intent-filter>
        </service>
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8534786486141147~4402306255"
            tools:replace="android:value" />
        <meta-data
            android:name="com.calldorado.apiToken"
            android:value="c844b792-694d-4369-a59f-853f31ee6b47" />
        <meta-data
            android:name="com.calldorado.appKey"
            android:value="515af176-e9f0-4f11-a5a2-6b0748255a03" />


        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>